@model IEnumerable<AzureSLABViewer.Web.Models.StorageConnection>
@{
    ViewBag.Title = "Connections";
}

<h2>Choose a Connection</h2>

@if (!Model.Any())
{
    <p class="lead">You don't have any connections. <a href="/StorageConnections/Create">Click here to create one.</a></p>
}
else
{
    <ul class="nav nav-pills nav-stacked">

        @foreach (var conn in Model)
        {
            <li><a href="/Log/List/@conn.StorageConnectionID">@conn.DisplayName</a></li>
        }
        
    </ul>
}

