
@{
    ViewBag.Title = "Table Doesn't Exist!";
}

<h2>Table Doesn't Exist!</h2>

<p>
    The SLABLogsTable doesn't exist at the configured storage connection. Make sure that you've enabled Azure Table Storage logging correctly in your application.
</p>

